@import "../../assets/vars";
@import "../../assets/mixins";

.calendar-input {
    position: relative;
    width: calc(100%);
    &.disabled {
      position: none;
      input {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.25;
      }
    }
}

.calendar {
    width: 182px;
    height: auto;
    position: absolute;
    z-index: 10;
    border-radius: 8px;
    border: 1px solid $border;
    @include shadow;
    background-color: $white;
    opacity: 1;
    &.bottomCalendar {
        left: calc(50% - 91px) !important;
        top: calc(100% + 10px) !important;
    }
    &.topCalendar{
        left: calc(50% - 91px) !important;
        bottom: calc(100% + 10px) !important;
    }
    &.rightCalendar {
        left: calc(100% - -13px) !important;
        top: calc(50% - 5px) !important
    }
    &.leftCalendar {
        right: calc(100% - -13px) !important;
        top: calc(50% - 5px) !important
    }
    &.hidden {
        display: none;
        opacity: 0;
    }
    .month-name {
        border-radius: 8px 8px 0px 0px;
        color: $white;
        @include flex-row-center;
        position: relative;
        box-sizing: border-box;
        font: {
            size: 14px;
            weight: 600;
        }
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-transform: capitalize;
        &:before {
            content: "";
            background-color: $border;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            position: absolute;
            @include shadow;
            z-index: -1;
        }
        &:after {
            content: "";
            background-color: $secondary;
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            position: absolute;
        }
        &.bottom {
            &:before {
                top: -4px;
                left: calc(50% - 4px);
            }
            &:after {
                top: -3px;
                left: calc(50% - 3px);
            }
        }
        &.top {
            &:before {
                width: 0px;
                height: 0px;
            }
            &:after {
                width: 0px;
                height: 0px;
            }
        }
        &.left {
            &:before {
                left: calc(100% - 3px);
            }
            &:after {
                left: calc(100% - 3px);
            }
        }
        &.right {
            &:before {
                right: calc(100% - 3px);
            }
            &:after {
                right: calc(100% - 3px);
            }
        }
        .calendar-control {
            position: absolute;
            top: 0px;
            @include clean-button;
            width: 30px;
            height: 30px;
            border: 0;
            background: transparent;
            cursor: pointer;
            @include flex-col-center;
            i {
                pointer-events: none;
                display: inline-block;
                color: $white;
            }
            &.prev {
                left: 0px;
            }
            &.next {
                right: 0px;
            }
        }
    }
    .days-name {
        @include flex-row-center;
        padding-top: 2px;
        padding-bottom: 2px;
        @include clean-list;
        @include zero-hard;
        li {
            width: 26px;
            height: 26px;
            @include clean-list;
            @include zero-hard;
            @include flex-row-center;
            color: $black;
            font: {
                size: 12px;
                weight: 500;
            }
            text-transform: uppercase;
        }
    }
    .week {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        width: 100%;
        &:last-of-type {
            justify-content: flex-start!important;
            .day {
                &:last-of-type {
                    color: $secondary;
                }
                &:nth-of-type(7){
                    color: $accent;
                }
            }
        }
        .day {
            width: 26px;
            max-width: 26px;
            min-width: 26px;
            height: 26px;
            min-height: 26px;
            max-height: 26px;
            border-radius: 2px;
            background-color: $white;
            border: 1px solid $white;
            box-sizing: border-box;
            color: $secondary;
            @include flex-col-center;
            font: {
                weight: 500;
                size: 12px;
            }
            cursor: pointer;
            outline: 0;
            &:focus, &:hover, &:active {
                outline: 0;
            }
            &:last-of-type{
                color: $accent;
                &.active {
                    background-color: $accent;
                    color: $white;
                }
            }
            &.active {
                background-color: $secondary;
                color: $white;
                border-radius: 20px;
            }
        }

        .disabled-button{
            color:grey;
            cursor: not-allowed
        }
    }
}